.skills__list {
  /* max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */

  display: flex;
  flex-wrap: wrap; /* Esto permite que los ladrillos bajen a la siguiente línea */
  justify-content: center; /* Centra la pared */
  gap: 10px; /* ¡ESTA ES LA MAGIA! Separa los ladrillos arriba, abajo y a los lados */
  padding: 0;
  max-width: 700px; /* Opcional: limita el ancho para que los ladrillos se vean obligados a bajar y hacer la forma */
  margin: 0 auto; /* Centra el contenedor completo */
}

.skills__list_item {
  margin: 0.5em;
}
